$bg-gallery: #4c45d6;
$button-active: #4c45d6;
$black-color: #000000;
$speaker-company: #320afc;
$speaker-title: #320afc;
$speaker-name: #000000;
$topics-label: #320afc;
$topics-plus: #320afc;
$program_border: #d3d3d3;
$active_header: #ffffff;
$mobile_nav_bg: #ffffff;
$nav_link: #000000;
$countdown_color: #ffffff;