
.event {
  color: #fff;
  margin-top: 6%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  // * {
  //   outline: 2px solid #eda;
  // }
  @media #{$tablet} {
    flex-direction: column;
    align-items: center;
    // border: 2px solid green;
  }
    @media #{$mobile} {
    flex-direction: column;
    align-items: center;
    // border: 2px solid green;
  }

  &-first-colum {
    margin-left: 5%;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 20vh;
    margin-top: auto;
    margin-bottom: auto;
    @media #{$tablet} {
   margin:0;
  }
    &__title {
      font-size: 52px;
      width: 100%;
      margin-bottom:20%;
      @media #{$mobile} {
        font-size: 24px;
         text-align: center;
          
      }
    }
    &__sub-title {
      width: 100%;
      text-align: left;
      font-weight: normal;
      @media #{$mobile} {
        font-size: 12px;
          text-align: center;
      }
    }
  }
  &-second-colum {
    width: 30%;
    margin-right: 5%;
    display: flex;
    flex-wrap:wrap;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    // padding:0;
    @media #{$mobile} {
      font-size: 12px;
      margin-right: auto;
      margin-left: auto;
    }
      @media #{$mobile} {
    font-size: 5vh;
  }
  &__string {
    margin-top: 5%;
    margin-bottom: 5%;

    padding:0;
    display: flex;
    align-items: center;

      @media #{$mobile} {
        width: 300px;
      }
    }
    &__img {
      margin-right: 10%;
  @media #{$mobile} {
    width: 5vh;
  }
    }
    &__description {
      // width: 100%;
    }
  }
}
