.gallery {
  background-color: rgb(76, 69, 214);
  height: 55vh;
  display: block;
  padding-top: 10%;
  padding-left: 20%;
  overflow: hidden;
  // * {
  //   outline: 2px solid white;
  // }
  &__wrapper {
   width:400%;
   transition: 300ms ease;
  }
  &__img {
    height: 45vh;
    width: auto;
    margin-right: 1%;
  }
}