$mobile: (max-width:380px);
$tablet: (max-width: 1020px);

$BlueColorButton: rgb(76, 69, 214);
$WhiteColor: rgba(255, 255, 255,1);
$BlackColor: rgba(0,0,0,1);
$GreyColor: #808080;
// .mifomen {
//   display: block;
//   width: 500px;
//   height: 500px;
//   background-color: rgba(255,255,5,1);
//   content: 'mifomen';
// @media #{$mobile} {
//     background-color: darkorange;
//   }
//   @media #{$tablet} {
//     background-color: black;
//   }
// }