.description {
  padding-top: 150px;
  padding-bottom: 150px;
	background-color: #ededed;

	@media screen and (max-width: 640px) {
		padding-top: 90px;
    padding-bottom: 90px;
	}
}

.description-participator {
  font-size: 32px;
  line-height: 42px;
  font-weight: 300;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;

  @media screen and (max-width: 640px) {
    line-height: 46px; 
  }
}