.description {
  padding-top: 150px;
  padding-bottom: 135px;
	background-color: #ededed;
}

.description-participator {
  font-size: 32px;
  line-height: 42px;
  font-weight: 300;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}