.gallery {
	padding-top: 90px;
  padding-bottom: 90px;
  background-color: $bg-gallery;

  .swiper-slide {
    max-width: 760px;
    max-height: 420px;
    min-height: 100%;
    height: auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .swiper-container {
    padding-left: 25px;
    padding-right: 25px;
  }
}