.program {
  padding-top: 120px;
  padding-bottom: 100px;

  .section-title {
    margin-bottom: 10px;

    @media screen and (max-width: 640px) {
      margin-bottom: 0px;
    }
  }

  @media screen and (max-width: 400px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }  
}

.program-days {
  text-align: center;
  margin-bottom: 70px;

  &__day {
    display: inline-block;
    vertical-align: text-top;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    padding: 14px 0;
    max-width: 170px;
    width: 100%;
    border: 2px solid #000000;
    transition: all .5s ease;

    @media screen and (max-width: 640px) {
      max-width: 228px;
      display: block;
      margin: 0 auto;
    }

    &:not(:last-child) {
      margin-right: 20px;

      @media screen and (max-width: 640px) {
        margin-bottom: 10px;
        margin-right: auto;
      }
    }

    &:hover {
      /*border-radius: 55px;*/
      box-shadow: 0 15px 25px -7px rgba(0, 0, 0, .4);
    }
  }

  .active-day {
    color: #ffffff;
    background-color: #4c45d6;
    border-color: transparent;
  }
}

.program-list {
	max-width: 960px;
  width: 100%;
  margin: 0 auto;
  margin-top: 90px;

  @media screen and (max-width: 960px) {
    max-width: 640px;
  }

  @media screen and (max-width: 400px) {
    margin-top: 70px;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    padding-top: 45px;
    padding-bottom: 45px;
    border-top: 1px solid #d3d3d3;

    @media screen and (max-width: 960px) {
      flex-direction: column;
    }

    &:last-child {
      border-bottom: 1px solid #d3d3d3;
    }
  }

  &__time {
    font-size: 20px;
    line-height: 27px;
    font-weight: 600;
    max-width: 135px;
    width: 100%;

    @media screen and (max-width: 960px) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 640px) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__information {
    margin-left: 18.229%; /*175px*/

    @media screen and (max-width: 960px) {
      margin-left: 0;
    }
  }

  &__title {
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;

    @media screen and (max-width: 960px) {
      font-size: 24px;
      line-height: 30px;
    }

    @media screen and (max-width: 640px) {
      font-size: 22px;
      line-height: 27px;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;

    @media screen and (max-width: 960px) {
      font-size: 16px;
      line-height: 25px;
    }

    @media screen and (max-width: 640px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.speaker {

  display: flex;
  align-items: center;

  margin: 32px 0 31px;

  @media screen and (max-width: 960px) {
    margin: 19px 0 18px;
  }
  
  img {
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
  }

  &__information {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;

    @media screen and (max-width: 960px) {
      font-size: 16px;
      line-height: 25px;
    }

    @media screen and (max-width: 640px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__name {
    font-weight: 700;
  }

  &__company {
    font-size: 18px;
    line-height: 28px;
    color: #320afc;
    font-weight: 300;
  }
}

.program-day {
  display: none;
}

.active-program {
  display: block;
  padding-top: 20px;
  padding-bottom: 50px;
 }