.program {
  padding-top: 120px;
  padding-bottom: 70px;

  .section-title {
    margin-bottom: 10px;

    @media screen and (max-width: 640px) {
      margin-bottom: 0px;
    }
  }

  @media screen and (max-width: 400px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }  
}

.program-days {
  text-align: center;
  margin-bottom: 70px;

  &__day {
    display: inline-block;
    vertical-align: text-top;
    font-size: 16px;
    font-weight: 700;
    color: $black-color;
    padding: 14px 0;
    max-width: 170px;
    width: 100%;
    border: 2px solid $black-color;
    transition: all .5s ease;

    @media screen and (max-width: 640px) {
      max-width: 228px;
      display: block;
      margin: 0 auto;
    }

    &:not(:last-child) {
      margin-right: 20px;

      @media screen and (max-width: 640px) {
        margin-bottom: 10px;
        margin-right: auto;
      }
    }

    &:hover {
      box-shadow: 0 15px 25px -7px rgba(0, 0, 0, .4);
    }
  }

  .active-day {
    color: #ffffff;
    background-color: $button-active;
    border-color: transparent;
  }
}

.program-list {
	max-width: 960px;
  width: 100%;
  margin: 0 auto;
  margin-top: 90px;

  @media screen and (max-width: 960px) {
    max-width: 640px;
  }

  @media screen and (max-width: 400px) {
    margin-top: 70px;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    padding-top: 45px;
    padding-bottom: 45px;
    border-top: 1px solid $program_border;

    @media screen and (max-width: 960px) {
      flex-direction: column;
    }

    &:last-child {
      border-bottom: 1px solid $program_border;
    }
  }

  &__time {
    font-size: 20px;
    line-height: 27px;
    font-weight: 600;
    max-width: 135px;
    width: 100%;

    @media screen and (max-width: 960px) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 640px) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__information {
    margin-left: 18.229%; /*175px*/

    @media screen and (max-width: 960px) {
      margin-left: 0;
    }
  }

  &__title {
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;

    @media screen and (max-width: 960px) {
      font-size: 24px;
      line-height: 30px;
    }

    @media screen and (max-width: 640px) {
      font-size: 22px;
      line-height: 27px;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;

    @media screen and (max-width: 960px) {
      font-size: 16px;
      line-height: 25px;
    }

    @media screen and (max-width: 640px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.speaker {

  display: flex;
  align-items: center;

  margin: 32px 0 31px;

  @media screen and (max-width: 960px) {
    margin: 19px 0 18px;
  }
  
  img {
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
  }

  &__information {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;

    @media screen and (max-width: 960px) {
      font-size: 16px;
      line-height: 25px;
    }

    @media screen and (max-width: 640px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__name {
    font-weight: 700;
    color: $speaker-name;
  }

  &__company {
    font-size: 18px;
    line-height: 28px;
    color: $speaker-company;
    font-weight: 300;
  }
}

.program-day {
  display: none;
}

.active-program {
  display: block;
  padding-top: 20px;
  padding-bottom: 100px;
 }



.key-topics {
  max-width: 600px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 70px;

  &__item {
    margin-bottom: 25px;
    padding-left: 20px;
  }

  &__label {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    position: relative;

    &::after,
    &:before {
      position: absolute;
      content: "";
      width: 10px;
      height: 2px;
      top: 15px;
      left: -20px;
      transform: translate(0, -50%);
      background-color: $topics-plus;
      transition: width .5s ease;
    }

    &:before {
      top: 14px;
      transform: rotate(90deg);
    }
  }

  &__list {
    display: none;
    list-style-type: none;
  }

  &__subparagraph {
    position: relative;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 300;

    &:before {
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $topics-plus;
      top: 50%;
      left: 0;
    }
  }
}

input[type='checkbox'] {
  display: none;

  &:checked ~ .key-topics__list {
    display: block;
    animation: block 1s ease-in-out 1;
  }

  &:checked ~ .key-topics__label {
    color: $topics-label;
    text-decoration: underline;

    &:before {
      width: 0;
    } 
  }
}


@keyframes block {
  from {
    height: 0;
    opacity: 0;
    transform: translateX(20%);
  }
  to {
    opacity: 1;
    height: 100%;
    transform: translateX(0);
  }
}


.speakers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 60px;
}

.speaker-block {
  max-width: 200px;
  text-align: center;
  display: inline-block;
  vertical-align: text-top;
  margin-bottom: 25px;

  &__img {
    width: 100%;
    max-height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__description {
    color: $speaker-title;
    font-size: 18px;
    font-weight: 600;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
  }
}