.sponsors {
  padding: 160px 0 170px;

  .section-description {
    margin-bottom: 130px;
  }

  @media screen and (max-width: 640px) {

    padding: 150px 0 170px;

    /*.section-title {
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 20px;
    }*/

    /*.section-description {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 70px;
    }*/
  }

  @media screen and (max-width: 400px) {
     padding: 90px 0 90px;

    .section-description {
      margin-bottom: 50px;
    }
  }
	
  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }

  &__item {
    position: relative;
    max-width: 160px;
    min-width: 160px;
    width: 20%;
    height: 160px;
    padding: 20px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;

    &--sponsor1 {
      background-image: url('../../img/sponsors/laspen.jpg');
    }

    &--sponsor2 {
      background-image: url('../../img/sponsors/crop.jpg');
    }

    &--sponsor3 {
      background-image: url('../../img/sponsors/blob.png');
    }

    &--sponsor4 {
      background-image: url('../../img/sponsors/miiissy.png');
    }

    &--sponsor5 {
      background-image: url('../../img/sponsors/peppermint.jpg');
    }
  }
}