.sponsors {
  padding: 160px 0 160px;
	
  &__list {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &__item {
    position: relative;
    max-width: 160px;
    width: 20%;
    height: 160px;
    padding: 20px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;

    &--sponsor1 {
      background-image: url('../../img/sponsors/laspen.jpg');
    }

    &--sponsor2 {
      background-image: url('../../img/sponsors/crop.jpg');
    }

    &--sponsor3 {
      background-image: url('../../img/sponsors/blob.png');
    }

    &--sponsor4 {
      background-image: url('../../img/sponsors/miiissy.png');
    }

    &--sponsor5 {
      background-image: url('../../img/sponsors/peppermint.jpg');
    }
  }

  .section-description {
    margin-bottom: 130px;
  }
}